@import "./mixins";
@import "./variables";
@import "./components";
@import "./libs";

/* width */
::-webkit-scrollbar {
    width: 8px;
    z-index: 99999;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    //border-radius: 10px;
}

::-webkit-scrollbar-thumb:start {
    border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-tap-highlight-color: transparent;

    &.lock {
        overflow: hidden;
    }
}

#root {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[aria-hidden="true"] .lock-padding {
    padding: 0px 8px 0px 0px;
}